/* HTML
–––––––––––––––––––––––––––––––––––––––––––––––––– */
html {
	scroll-behavior: smooth;
	font-size: 100%;
  height: 100%;
  font-family: 'Alata', sans-serif;
}

body {
  margin: 0;
  height: 100%;
}

main {
  height: 100%;
}

h3 {
    font-weight: normal;
    text-align: center;
}

a {
    color: #FFBB00;
}

quote {
  display: block;
  margin: 5% 0;
  padding: 5%;
  border-left: 3px solid #ffbb00;
  border-right: 3px solid #ffbb00;
  background-color: #fffade;
  font-family: 'Inria Serif', serif;
  font-size: 2em;
  color: #F97B1A;
}

#heading {
    text-align: center;
    font-weight: normal;
    font-size: 3em;
}

.page {
    margin: 5% 0 5% 5%;
}

#learnmore {
  width: 80%;
  margin: 10%;
  bottom: 0px;
}

#hunger #learnmore {
  margin-top: 11%;
}

#edu #learnmore {
  margin-top: 5%;
}

.button {
    display: flex;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(#FFBB00,#ff9354);
    border: 20px solid linear-gradient(#FFBB00,#ff9354);
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
    font-size: 100%;
    color: white;
    margin: auto;
    align-items:center;
    justify-content:center;
}


/* Navigation
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.nav {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 10000;
    height: relative;
    width: 100%;
    display: grid;
    grid-template-columns: 30% repeat(4,1fr);
    grid-template-rows: 6em;
    overflow: hidden;
    background-color: #FFBB00;
}

.nav #contents {
    height: relative;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
    text-decoration: none;
    color: white;
    font-size: 15px;
}

#contents:hover {
  background-color: #F97B1A;
}

.navcon {
    display: grid;
    margin: 0 5%;
    grid-template-columns: repeat(3,1fr);
    padding-top: 30px;
    padding-bottom: 40px;
    align-items: center;
    justify-content: center;
}

.navcon a {
    display: flex;
    float: center;
    margin: 0;
    text-decoration: none;
    color: white;
}

.navcon a:hover {
    color: #F97B1A;
    transform: scale(1.2);
}

.nav .logo-container {
    display: block;
}

.nav .logo-container img {
    position: relative;
    width: auto;
    max-width: 80px;
    max-height: 80px;
    padding: 7px 30px 15px;
    border-radius: 50%;
} 

.logo-container a {
    text-decoration: none;
    color: white;
}


.smedia a i {
    margin: 30px 0 10px;
    text-decoration: none;
    color: white;
}

#contents .active {
    text-decoration: none;
    color: #F97B1A;
}

.active {
    color: #F97B1A;
}

.search_bar {
    display: flex;
    justify-content: center;
    width: 30px;
    height: 30px;
    background: none;
    border-radius: 50%;
}

.search_btn {
    display: flex;
    color: #FFBB00;
    width: 30px;
    height: 30px;
    background: #FFBB00;
    border-radius: 50%;;
    float:left;
    justify-content: center;
    align-items: center;
}

.search_inp {
    display: flex;
    border: none;
    background: none;
    outline: none;
    float: right;
    padding: 0;
    color: white;
    font-size: 15px;
    justify-content: center;
    align-items: center;
    width:0;
}

#mobile_nav {
  display: none;
}


/* Landing
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.slider {
    object-fit: cover;
    height: 700px;
    overflow: hidden;
}

.slider figure {
    position: relative;
    width: 500%;
    margin: 0;
    left: 0;
    animation: 25s slider infinite;
}
.slider figure img {
    width: 20%;
    float: left;
}

@keyframes slider {
    0% {
        left: 0%;
    }
    20% {
        left: 0%;
    }
    25% {
        left: -100%;
    }
    45% {
        left: -100%;
    }
    50% {
        left: -200%;
    }
    70% {
        left: -200%;
    }
    75% {
        left: -300%;
    }
    95% {
        left: -300%;
    }
    100% {
        left: -400%;
    }
}

#description {
    margin: 5% 15% 5%;
    text-align: center;
}

#cards {
    display: grid;
    height: auto;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 1fr;
    margin: 5% 5%;
    background-color: none;
}

.landing_card {
  display: block;
  overflow: auto;
}

.landing_card img {
  width: 100%;
  object-fit: cover;
}

.main_des {
  display: block;
  position: relative;
  margin: 0 2.5%;
  justify-content: center;
  align-content: center;
}

.main_des ul li {
  list-style:disc;
  margin: 5px;
}

#last_btns {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(3, 1fr);
  margin: 5%;
}


/* Donation Bar
–––––––––––––––––––––––––––––––––––––––––––––––––– */
#donation-bar {
    margin: 5%;
    align-items: center;
}

#donation-bar ul {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-template-rows: 1fr;
    list-style: none;
}

#donation-bar li {
    align-self: center;
    text-align: center;
}


/* Donation 
–––––––––––––––––––––––––––––––––––––––––––––––––– */
#shop {
    display: grid;
    grid-template-columns: 75% 25%;
    grid-template-rows: auto;
}

#projects {
    display: block;
    float: left;
    border-radius: 10px;
    border: 5px solid #3e4749;
    margin-right: 10px;
}

#projects .p_icons {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: 1fr;
    margin: 5%;
}

#projects .p_icons a {
    margin: 5%;
}

#projects .p_icons img {
    width: 100%;
}

#projects form input{
    width: 60%;
}

.point {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
}

#p1 {
    margin-left: 15%;
    border-bottom: 10px solid #FFBB00;
}

#p2 {
    margin-left: 37.5%;
    border-bottom: 10px solid #ff9354;
}

#p3 {
    margin-left: 60%;
    border-bottom: 10px solid #FFBB00;
}

#p4 {
    margin-left: 82.5%;
    border-bottom: 10px solid #ff9354;
}

.d_content {
    display: grid;
    margin: 0 5% 5%;
    grid-template-columns: 50% 50%;
    grid-template-rows: 1fr;
}

#d1, #d3 {
    border: 8px solid #FFBB00;
    border-radius: 8px;
}

#d2, #d4 {
    border: 8px solid #ff9354;
    border-radius: 8px;
}


.d_content img {
    object-fit: cover;
    float: left;
    overflow: hidden;
    width: 100%;
    height: 500px;
}

.d_content > div {
    background-color: white;
    float: right;
    align-items: center;
    justify-content: center;
}
.d_content div h2 {
    margin: 5%;
    margin-bottom: 0;
}

.d_content div p {
    margin: 2.5% 5%;
}

.d_content #mobile_proceed {
  display: none;
}

#add_cart {
    margin: 5%;
    display: flex;
    float:bottom;
}

.cart {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 10% 40% 22% 14% 14%;
    overflow: hidden;
    margin-right: 0;
    float: right;
    border-radius: 10px 0 0 10px;
    border: 5px solid gray;
}

.cart > :first-child {
    display: block;
    border-bottom: 5px solid #3E4749 ;
}

.cart > :first-child h3{
    text-align: center;
}

.cart > :nth-child(2) {
    display: block;
    margin: 5% 0;
    border-bottom: 5px solid #3E4749;
    align-items: center;
    justify-content: center;
}

.cart > :nth-child(2) img {
    height: 30%;
    margin-left: 35%;
}

.cart > :nth-child(2) p {
    display: block;
    width: 100%;
    text-align: center;
    margin: 10px;
}

.cart > :nth-child(3) {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 30% 70%;
    border-bottom: 5px solid #3E4749;
}

.cart > :nth-child(3) h3 {
    margin: 0 10%;
}

.cart > :nth-child(4) {
    margin: 0 10%;
}

.cart > :nth-child(4) p {
    font-size: 1.5em;
    text-align: center;
}

.cart > :last-child {
    float: center;
    margin: 5% 10%;
}


/* Check Out
–––––––––––––––––––––––––––––––––––––––––––––––––– */
#checkout {
    margin: 5%;
    margin-right: 0%;
    overflow: hidden;
}

#checkout_all {
    display: grid;
    grid-template-columns: 75% 25%;
    grid-template-rows: 1fr;
}


.form {
    width: auto;
    height: auto;
    background-color:  #FAFAFA;
    border: 5px solid #ff9354;
    margin-right: 10%;
    margin-bottom: 5%;
}

.form:last-of-type {
    margin-bottom: 0;
}

.radio {
    margin: 30px;
    display: flex;
    float: left;
}

.form h2 {
    font-weight: normal;
    margin: 20px 10%;

}

.form hr {
    height: 4px;
    border: none;
    background: #879499;
    margin: 5% 10%;
}

.form > div {
    display: block;
}

.p_card {
    margin: 10%;
}

.card_item {
    display: inline-block;
    margin-right: 13px;
}

.input {
    margin-top: 10px;
    width: 100%;
    height: 100%;
    font-size: 90%;
}

#checkout_done a {
    text-decoration: none;
}

#checkout_done > h2{
    margin: 10%;
    font-weight: normal;
    text-align: center;
}

#checkout_done a h2{
    margin: 5%;
    font-weight: normal;
    text-align: center;
}

#checkout_done a:hover {
    text-decoration: underline;
    color: #F97B1A
}


/* My Page
–––––––––––––––––––––––––––––––––––––––––––––––––– */
#mypage {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: 1fr;
    margin: 3% 5%;
}

.user_details {
    border-right: 5px solid #3e4749;
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    align-items: center;
    justify-content: center;
}

#profile {
    display: grid;
    height: 100%;
    grid-template-columns: 40% 60%;
    grid-template-rows: 1fr;
    align-items: center;
}

#profile img {
    background-color: #FFBB00;
    border-radius: 50%;
    width: 100%;
}
#user_box {
    margin-left: 25%;
}

#user_box div {
    display: block;
    font-size: 1.5em;
}

#profile #user_box p {
    display: inline-block;
}

.user_details > div:nth-of-type(2) {
    margin-top: 5%;
}

#monthly_credit {    
    display: flex;
    height: 20px;
    margin-right: 10%;
    margin-top: 2%;
    border: 5px solid #ff9354;
    border-radius: 0 10px 10px 0;;
}

#monthly_credit div {
    width: 80%;
    height: 100%;
    background-color: #FFBB00;
}

.user_data {
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: 1fr;
    margin-top: 5%;
    align-items: center;
    justify-content: center;
}

.user_data img {
    width: 50%;
}

.notification {
    display:grid;
    grid-template-columns: 1fr;
    grid-row: repeat(5, 18%) 10%;
}

.n_bar {
    margin: 2.5% 5%;
    height: 70%;
    display: grid;
    grid-template-columns: 80% 20%;
    grid-template-rows: 1fr;
    border: 5px solid #ff9354;
    border-radius: 8px;
    background-color: lavenderblush;
    justify-content: center;
    align-items: center;
}

.n_bar p {
    text-align: left;
    margin: 0 5%;
    color: #3e4749;
}

#checkbox {
    display: flex;
    float: center;
    border: 5px solid #FFBB00;
}

.n_bar a i {
    display: flex;
    float: right;
    margin-right: 20%;
}

.n_more {
    display: flex;
    height: 30px;
    margin: 5%;
    margin-bottom: 0%;
    border: 5px solid #FFBB00;
    border-radius: 50px;
    background-color: blanchedalmond;
    align-items: center;
    justify-content: center;
}

.n_more > div {
    display: block;
    float: center;
    border: 5px solid #324749;
    border-radius: 50%;
    background-color: #3e4749;
    margin: 0 10px;
}


/* Footer
–––––––––––––––––––––––––––––––––––––––––––––––––– */
footer {
  width: 100%;
  height: 150px;
  position: relative;
  bottom: 0;
  background-color: #3e4749;
}

.inner_footer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    height:100%;
    justify-content: center;
    align-content: centrer;
    margin: 5%;
}

.inner_footer .footer_box {
    display:block;
    width: 100%;
    height: 100%;
    justify-content:center;
    align-content: center;
}

.inner_footer .footer_box h2 {
    font-size: 20px;
    font-weight: 0px;
    color: white;
    display: block;
    width:100%;
}

.inner_footer .footer_box a {
    display: block;
    float: center;
    color: darkgray;
    text-decoration: none;
}

.inner_footer .footer_box li {
    display: inline-block;
    padding: 0 5px;
    font-size: 20px;
}

.footer_box img {
    width: 100px;
    margin-top: 10%;
}

.footer_box {
  overflow: hidden;
}

.footer_box a:hover {
    text-decoration: underline;
    color: white;
}

.footer_box a i:hover {
  transform: scale(1.5);
}

.nav {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 10000;
    height: relative;
    width: 100%;
    display: grid;
    grid-template-columns: 30% repeat(4,1fr);
    grid-template-rows: 6em;
    overflow: hidden;
    background-color: #FFBB00;
}

#hidden {
  display: none;
}


/* Media Query - Mobile
–––––––––––––––––––––––––––––––––––––––––––––––––– */
@media only screen and (max-width: 480px) {
  .slider {
    height: 300px;
  }

  #mobile_nav {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    width: 100%;
    height: auto;
    background-color: #FFBB00;
    align-content: center;
    justify-content: center;
  }

  #mobile_nav > div {
    margin: 8%;
    display: flex;
    justify-content: center;
    align-content: center;
  }

  .drop_menu {
    display: block;
    list-style: none;
    text-align: center;
  }
  
  .drop_menu a {
    text-decoration: none;
    margin: 5px;
  }

  .drop_menu a:active {
    color:#F97B1A;
  }

  .drop_menu:active {
    display: block;
  }

  #m_btn {
    background-color: #FFBB00;
    border: none;
    color: white;
    padding: 16px 20px;
    font-size: 16px;
  }

  .m_menu:active ul {
    display: block;
  }

  .m_menu:focus {
    background-color: #ffa600;
    outline: none;
    
  }

  #mypage {
    margin:0;
    padding: 8px;
  }


  #mobile_nav .logo-container img {
    max-width: 55px;
    max-height: 55px;
  }

  #mobile_nav a {
    color: white;
    display: block;
  }

  footer {
    display: none;
  }

  .page {
    margin: 5% 2.5%;
    position: relative;
  }

  #heading {
    font-size: 2em;
  }

  .nav {
    display: none;
  }

  #description h2 {
    font-size: 1.25em;
  }

  #cards {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
  }

  #cards img {
    display: block;
    object-fit: contain;
  }

  quote {
    font-size: 1em;
  }

  .inner_footer {
    display:none;
  }

  #donation-bar {
    margin:0;
  }

  #shop {
    display: block;
  }

  #projects {
    height: 100%;
  }

  .d_content {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 40% 60%;
  }

  .d_content p:nth-of-type(2) {
    display: none;
  }

  .d_content > div {
    height: 100%;
  }

  #shop .cart {
    display: none;
  }

  #mobile_proceed {
    display: flex;
    margin: 5%;
    float:bottom;
  }

  #checkout {
    margin: 5%;
  }

  #checkout_all {
    display: block;
  }

  .form {
    display: block;
    float: center;
    margin-right: 0;
  }

  #checkout .cart {
    float: none;
    border-radius:0;
    margin: 5% 0;
  }

  #checkout_done h2 {
    font-size: 1em;
  }

  #mypage {
    display: block;
  }
  .user_details {
    display: block;
    border: none;
    float: center;
  }

  .notification {
    margin: 5% 0;
  }
}